<!-- <div class="section1">
  <div id="container">
    <div
      ng2-carouselamos
      class="slides-wrapper"
      [items]="items"
      [width]="900"
      [$prev]="prev"
      [$next]="next"
      [$item]="item"
    >
    </div>
  

  <ng-template #prev>
    <i class="material-icons" id="left">keyboard_arrow_left</i>
  </ng-template>
  <ng-template #next>
    <i class="material-icons" id="right">keyboard_arrow_right</i>
  </ng-template>
  <ng-template #item let-item let-i="index">

      <div class="items">
        <img src="{{ item.name }}">
      </div>

  </ng-template>
</div>
</div> -->
<div class="section2">
  <div class="col-5">
      <ngx-carousel  
      [inputs]="carouselBanner" 
      (carouselLoad)="carouselBannerLoad($event)">
          <ngx-item NgxCarouselItem class="bannerStyle" *ngFor="let Banner of carouselBannerItems">
              <img height="200" width="100%" src="{{Banner.name}}">
          </ngx-item>
    
        <button class='leftRs' NgxCarouselPrev>
          <!-- <i class="material-icons">keyboard_arrow_left</i> -->
        </button>
        <button class='rightRs' NgxCarouselNext>
          <!-- <i class="material-icons">keyboard_arrow_right</i> -->
        </button>
      </ngx-carousel>
  </div>
  
</div>
